.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 80%;
}

.logo {
    height: 80px;
}

.carousel-item {
    background-color: pink;
    padding: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

img {
    width: 30%;
    align-items: center;
    border-radius: 5px;
}

.slideImge {
    width: 120px;
    height: 100px;
}

.TitleContent {
    padding: 10px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
}

.title2 {
    font-size: 40px;
}


/* ......................................................... */
@media screen and (max-width: 600px) {
    .top-text {
        font-size: 10px;
    }

    .title1 {
        font-size: 30px;
    }

    .title2 {
        font-size: 20px;
    }

    .slideImge {
        width: 80px;
        height: 40px;
    }
}